=begin
#OpenAI API

#The OpenAI REST API. Please see https://platform.openai.com/docs/api-reference for more details.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1

=end

require 'cgi'

module OpenapiClient
  class AssistantsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancels a run that is `in_progress`.
    # @param thread_id [String] The ID of the thread to which this run belongs.
    # @param run_id [String] The ID of the run to cancel.
    # @param [Hash] opts the optional parameters
    # @return [RunObject]
    def cancel_run(thread_id, run_id, opts = {})
      data, _status_code, _headers = cancel_run_with_http_info(thread_id, run_id, opts)
      data
    end

    # Cancels a run that is &#x60;in_progress&#x60;.
    # @param thread_id [String] The ID of the thread to which this run belongs.
    # @param run_id [String] The ID of the run to cancel.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunObject, Integer, Hash)>] RunObject data, response status code and response headers
    def cancel_run_with_http_info(thread_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.cancel_run ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.cancel_run"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AssistantsApi.cancel_run"
      end
      # resource path
      local_var_path = '/threads/{thread_id}/runs/{run_id}/cancel'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s)).sub('{' + 'run_id' + '}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RunObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.cancel_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#cancel_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an assistant with a model and instructions.
    # @param create_assistant_request [CreateAssistantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AssistantObject]
    def create_assistant(create_assistant_request, opts = {})
      data, _status_code, _headers = create_assistant_with_http_info(create_assistant_request, opts)
      data
    end

    # Create an assistant with a model and instructions.
    # @param create_assistant_request [CreateAssistantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssistantObject, Integer, Hash)>] AssistantObject data, response status code and response headers
    def create_assistant_with_http_info(create_assistant_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.create_assistant ...'
      end
      # verify the required parameter 'create_assistant_request' is set
      if @api_client.config.client_side_validation && create_assistant_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_assistant_request' when calling AssistantsApi.create_assistant"
      end
      # resource path
      local_var_path = '/assistants'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_assistant_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AssistantObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.create_assistant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#create_assistant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an assistant file by attaching a [File](/docs/api-reference/files) to an [assistant](/docs/api-reference/assistants).
    # @param assistant_id [String] The ID of the assistant for which to create a File. 
    # @param create_assistant_file_request [CreateAssistantFileRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AssistantFileObject]
    def create_assistant_file(assistant_id, create_assistant_file_request, opts = {})
      data, _status_code, _headers = create_assistant_file_with_http_info(assistant_id, create_assistant_file_request, opts)
      data
    end

    # Create an assistant file by attaching a [File](/docs/api-reference/files) to an [assistant](/docs/api-reference/assistants).
    # @param assistant_id [String] The ID of the assistant for which to create a File. 
    # @param create_assistant_file_request [CreateAssistantFileRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssistantFileObject, Integer, Hash)>] AssistantFileObject data, response status code and response headers
    def create_assistant_file_with_http_info(assistant_id, create_assistant_file_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.create_assistant_file ...'
      end
      # verify the required parameter 'assistant_id' is set
      if @api_client.config.client_side_validation && assistant_id.nil?
        fail ArgumentError, "Missing the required parameter 'assistant_id' when calling AssistantsApi.create_assistant_file"
      end
      # verify the required parameter 'create_assistant_file_request' is set
      if @api_client.config.client_side_validation && create_assistant_file_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_assistant_file_request' when calling AssistantsApi.create_assistant_file"
      end
      # resource path
      local_var_path = '/assistants/{assistant_id}/files'.sub('{' + 'assistant_id' + '}', CGI.escape(assistant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_assistant_file_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AssistantFileObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.create_assistant_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#create_assistant_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a message.
    # @param thread_id [String] The ID of the [thread](/docs/api-reference/threads) to create a message for.
    # @param create_message_request [CreateMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MessageObject]
    def create_message(thread_id, create_message_request, opts = {})
      data, _status_code, _headers = create_message_with_http_info(thread_id, create_message_request, opts)
      data
    end

    # Create a message.
    # @param thread_id [String] The ID of the [thread](/docs/api-reference/threads) to create a message for.
    # @param create_message_request [CreateMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageObject, Integer, Hash)>] MessageObject data, response status code and response headers
    def create_message_with_http_info(thread_id, create_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.create_message ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.create_message"
      end
      # verify the required parameter 'create_message_request' is set
      if @api_client.config.client_side_validation && create_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_message_request' when calling AssistantsApi.create_message"
      end
      # resource path
      local_var_path = '/threads/{thread_id}/messages'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_message_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.create_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#create_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a run.
    # @param thread_id [String] The ID of the thread to run.
    # @param create_run_request [CreateRunRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RunObject]
    def create_run(thread_id, create_run_request, opts = {})
      data, _status_code, _headers = create_run_with_http_info(thread_id, create_run_request, opts)
      data
    end

    # Create a run.
    # @param thread_id [String] The ID of the thread to run.
    # @param create_run_request [CreateRunRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunObject, Integer, Hash)>] RunObject data, response status code and response headers
    def create_run_with_http_info(thread_id, create_run_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.create_run ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.create_run"
      end
      # verify the required parameter 'create_run_request' is set
      if @api_client.config.client_side_validation && create_run_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_run_request' when calling AssistantsApi.create_run"
      end
      # resource path
      local_var_path = '/threads/{thread_id}/runs'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_run_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RunObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.create_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#create_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a thread.
    # @param create_thread_request [CreateThreadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ThreadObject]
    def create_thread(create_thread_request, opts = {})
      data, _status_code, _headers = create_thread_with_http_info(create_thread_request, opts)
      data
    end

    # Create a thread.
    # @param create_thread_request [CreateThreadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ThreadObject, Integer, Hash)>] ThreadObject data, response status code and response headers
    def create_thread_with_http_info(create_thread_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.create_thread ...'
      end
      # verify the required parameter 'create_thread_request' is set
      if @api_client.config.client_side_validation && create_thread_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_thread_request' when calling AssistantsApi.create_thread"
      end
      # resource path
      local_var_path = '/threads'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_thread_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ThreadObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.create_thread",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#create_thread\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a thread and run it in one request.
    # @param create_thread_and_run_request [CreateThreadAndRunRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RunObject]
    def create_thread_and_run(create_thread_and_run_request, opts = {})
      data, _status_code, _headers = create_thread_and_run_with_http_info(create_thread_and_run_request, opts)
      data
    end

    # Create a thread and run it in one request.
    # @param create_thread_and_run_request [CreateThreadAndRunRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunObject, Integer, Hash)>] RunObject data, response status code and response headers
    def create_thread_and_run_with_http_info(create_thread_and_run_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.create_thread_and_run ...'
      end
      # verify the required parameter 'create_thread_and_run_request' is set
      if @api_client.config.client_side_validation && create_thread_and_run_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_thread_and_run_request' when calling AssistantsApi.create_thread_and_run"
      end
      # resource path
      local_var_path = '/threads/runs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_thread_and_run_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RunObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.create_thread_and_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#create_thread_and_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an assistant.
    # @param assistant_id [String] The ID of the assistant to delete.
    # @param [Hash] opts the optional parameters
    # @return [DeleteAssistantResponse]
    def delete_assistant(assistant_id, opts = {})
      data, _status_code, _headers = delete_assistant_with_http_info(assistant_id, opts)
      data
    end

    # Delete an assistant.
    # @param assistant_id [String] The ID of the assistant to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteAssistantResponse, Integer, Hash)>] DeleteAssistantResponse data, response status code and response headers
    def delete_assistant_with_http_info(assistant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.delete_assistant ...'
      end
      # verify the required parameter 'assistant_id' is set
      if @api_client.config.client_side_validation && assistant_id.nil?
        fail ArgumentError, "Missing the required parameter 'assistant_id' when calling AssistantsApi.delete_assistant"
      end
      # resource path
      local_var_path = '/assistants/{assistant_id}'.sub('{' + 'assistant_id' + '}', CGI.escape(assistant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteAssistantResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.delete_assistant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#delete_assistant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an assistant file.
    # @param assistant_id [String] The ID of the assistant that the file belongs to.
    # @param file_id [String] The ID of the file to delete.
    # @param [Hash] opts the optional parameters
    # @return [DeleteAssistantFileResponse]
    def delete_assistant_file(assistant_id, file_id, opts = {})
      data, _status_code, _headers = delete_assistant_file_with_http_info(assistant_id, file_id, opts)
      data
    end

    # Delete an assistant file.
    # @param assistant_id [String] The ID of the assistant that the file belongs to.
    # @param file_id [String] The ID of the file to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteAssistantFileResponse, Integer, Hash)>] DeleteAssistantFileResponse data, response status code and response headers
    def delete_assistant_file_with_http_info(assistant_id, file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.delete_assistant_file ...'
      end
      # verify the required parameter 'assistant_id' is set
      if @api_client.config.client_side_validation && assistant_id.nil?
        fail ArgumentError, "Missing the required parameter 'assistant_id' when calling AssistantsApi.delete_assistant_file"
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling AssistantsApi.delete_assistant_file"
      end
      # resource path
      local_var_path = '/assistants/{assistant_id}/files/{file_id}'.sub('{' + 'assistant_id' + '}', CGI.escape(assistant_id.to_s)).sub('{' + 'file_id' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteAssistantFileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.delete_assistant_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#delete_assistant_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a thread.
    # @param thread_id [String] The ID of the thread to delete.
    # @param [Hash] opts the optional parameters
    # @return [DeleteThreadResponse]
    def delete_thread(thread_id, opts = {})
      data, _status_code, _headers = delete_thread_with_http_info(thread_id, opts)
      data
    end

    # Delete a thread.
    # @param thread_id [String] The ID of the thread to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteThreadResponse, Integer, Hash)>] DeleteThreadResponse data, response status code and response headers
    def delete_thread_with_http_info(thread_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.delete_thread ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.delete_thread"
      end
      # resource path
      local_var_path = '/threads/{thread_id}'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteThreadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.delete_thread",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#delete_thread\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves an assistant.
    # @param assistant_id [String] The ID of the assistant to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [AssistantObject]
    def get_assistant(assistant_id, opts = {})
      data, _status_code, _headers = get_assistant_with_http_info(assistant_id, opts)
      data
    end

    # Retrieves an assistant.
    # @param assistant_id [String] The ID of the assistant to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssistantObject, Integer, Hash)>] AssistantObject data, response status code and response headers
    def get_assistant_with_http_info(assistant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.get_assistant ...'
      end
      # verify the required parameter 'assistant_id' is set
      if @api_client.config.client_side_validation && assistant_id.nil?
        fail ArgumentError, "Missing the required parameter 'assistant_id' when calling AssistantsApi.get_assistant"
      end
      # resource path
      local_var_path = '/assistants/{assistant_id}'.sub('{' + 'assistant_id' + '}', CGI.escape(assistant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssistantObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.get_assistant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#get_assistant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves an AssistantFile.
    # @param assistant_id [String] The ID of the assistant who the file belongs to.
    # @param file_id [String] The ID of the file we&#39;re getting.
    # @param [Hash] opts the optional parameters
    # @return [AssistantFileObject]
    def get_assistant_file(assistant_id, file_id, opts = {})
      data, _status_code, _headers = get_assistant_file_with_http_info(assistant_id, file_id, opts)
      data
    end

    # Retrieves an AssistantFile.
    # @param assistant_id [String] The ID of the assistant who the file belongs to.
    # @param file_id [String] The ID of the file we&#39;re getting.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssistantFileObject, Integer, Hash)>] AssistantFileObject data, response status code and response headers
    def get_assistant_file_with_http_info(assistant_id, file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.get_assistant_file ...'
      end
      # verify the required parameter 'assistant_id' is set
      if @api_client.config.client_side_validation && assistant_id.nil?
        fail ArgumentError, "Missing the required parameter 'assistant_id' when calling AssistantsApi.get_assistant_file"
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling AssistantsApi.get_assistant_file"
      end
      # resource path
      local_var_path = '/assistants/{assistant_id}/files/{file_id}'.sub('{' + 'assistant_id' + '}', CGI.escape(assistant_id.to_s)).sub('{' + 'file_id' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssistantFileObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.get_assistant_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#get_assistant_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a message.
    # @param thread_id [String] The ID of the [thread](/docs/api-reference/threads) to which this message belongs.
    # @param message_id [String] The ID of the message to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [MessageObject]
    def get_message(thread_id, message_id, opts = {})
      data, _status_code, _headers = get_message_with_http_info(thread_id, message_id, opts)
      data
    end

    # Retrieve a message.
    # @param thread_id [String] The ID of the [thread](/docs/api-reference/threads) to which this message belongs.
    # @param message_id [String] The ID of the message to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageObject, Integer, Hash)>] MessageObject data, response status code and response headers
    def get_message_with_http_info(thread_id, message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.get_message ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.get_message"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling AssistantsApi.get_message"
      end
      # resource path
      local_var_path = '/threads/{thread_id}/messages/{message_id}'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s)).sub('{' + 'message_id' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.get_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#get_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves a message file.
    # @param thread_id [String] The ID of the thread to which the message and File belong.
    # @param message_id [String] The ID of the message the file belongs to.
    # @param file_id [String] The ID of the file being retrieved.
    # @param [Hash] opts the optional parameters
    # @return [MessageFileObject]
    def get_message_file(thread_id, message_id, file_id, opts = {})
      data, _status_code, _headers = get_message_file_with_http_info(thread_id, message_id, file_id, opts)
      data
    end

    # Retrieves a message file.
    # @param thread_id [String] The ID of the thread to which the message and File belong.
    # @param message_id [String] The ID of the message the file belongs to.
    # @param file_id [String] The ID of the file being retrieved.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageFileObject, Integer, Hash)>] MessageFileObject data, response status code and response headers
    def get_message_file_with_http_info(thread_id, message_id, file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.get_message_file ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.get_message_file"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling AssistantsApi.get_message_file"
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling AssistantsApi.get_message_file"
      end
      # resource path
      local_var_path = '/threads/{thread_id}/messages/{message_id}/files/{file_id}'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s)).sub('{' + 'message_id' + '}', CGI.escape(message_id.to_s)).sub('{' + 'file_id' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageFileObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.get_message_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#get_message_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves a run.
    # @param thread_id [String] The ID of the [thread](/docs/api-reference/threads) that was run.
    # @param run_id [String] The ID of the run to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [RunObject]
    def get_run(thread_id, run_id, opts = {})
      data, _status_code, _headers = get_run_with_http_info(thread_id, run_id, opts)
      data
    end

    # Retrieves a run.
    # @param thread_id [String] The ID of the [thread](/docs/api-reference/threads) that was run.
    # @param run_id [String] The ID of the run to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunObject, Integer, Hash)>] RunObject data, response status code and response headers
    def get_run_with_http_info(thread_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.get_run ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.get_run"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AssistantsApi.get_run"
      end
      # resource path
      local_var_path = '/threads/{thread_id}/runs/{run_id}'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s)).sub('{' + 'run_id' + '}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RunObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.get_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#get_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves a run step.
    # @param thread_id [String] The ID of the thread to which the run and run step belongs.
    # @param run_id [String] The ID of the run to which the run step belongs.
    # @param step_id [String] The ID of the run step to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [RunStepObject]
    def get_run_step(thread_id, run_id, step_id, opts = {})
      data, _status_code, _headers = get_run_step_with_http_info(thread_id, run_id, step_id, opts)
      data
    end

    # Retrieves a run step.
    # @param thread_id [String] The ID of the thread to which the run and run step belongs.
    # @param run_id [String] The ID of the run to which the run step belongs.
    # @param step_id [String] The ID of the run step to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunStepObject, Integer, Hash)>] RunStepObject data, response status code and response headers
    def get_run_step_with_http_info(thread_id, run_id, step_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.get_run_step ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.get_run_step"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AssistantsApi.get_run_step"
      end
      # verify the required parameter 'step_id' is set
      if @api_client.config.client_side_validation && step_id.nil?
        fail ArgumentError, "Missing the required parameter 'step_id' when calling AssistantsApi.get_run_step"
      end
      # resource path
      local_var_path = '/threads/{thread_id}/runs/{run_id}/steps/{step_id}'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s)).sub('{' + 'run_id' + '}', CGI.escape(run_id.to_s)).sub('{' + 'step_id' + '}', CGI.escape(step_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RunStepObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.get_run_step",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#get_run_step\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves a thread.
    # @param thread_id [String] The ID of the thread to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [ThreadObject]
    def get_thread(thread_id, opts = {})
      data, _status_code, _headers = get_thread_with_http_info(thread_id, opts)
      data
    end

    # Retrieves a thread.
    # @param thread_id [String] The ID of the thread to retrieve.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ThreadObject, Integer, Hash)>] ThreadObject data, response status code and response headers
    def get_thread_with_http_info(thread_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.get_thread ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.get_thread"
      end
      # resource path
      local_var_path = '/threads/{thread_id}'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ThreadObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.get_thread",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#get_thread\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a list of assistant files.
    # @param assistant_id [String] The ID of the assistant the file belongs to.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (default to 20)
    # @option opts [String] :order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.  (default to 'desc')
    # @option opts [String] :after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
    # @option opts [String] :before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
    # @return [ListAssistantFilesResponse]
    def list_assistant_files(assistant_id, opts = {})
      data, _status_code, _headers = list_assistant_files_with_http_info(assistant_id, opts)
      data
    end

    # Returns a list of assistant files.
    # @param assistant_id [String] The ID of the assistant the file belongs to.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (default to 20)
    # @option opts [String] :order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.  (default to 'desc')
    # @option opts [String] :after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
    # @option opts [String] :before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
    # @return [Array<(ListAssistantFilesResponse, Integer, Hash)>] ListAssistantFilesResponse data, response status code and response headers
    def list_assistant_files_with_http_info(assistant_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.list_assistant_files ...'
      end
      # verify the required parameter 'assistant_id' is set
      if @api_client.config.client_side_validation && assistant_id.nil?
        fail ArgumentError, "Missing the required parameter 'assistant_id' when calling AssistantsApi.list_assistant_files"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/assistants/{assistant_id}/files'.sub('{' + 'assistant_id' + '}', CGI.escape(assistant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAssistantFilesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.list_assistant_files",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#list_assistant_files\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a list of assistants.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (default to 20)
    # @option opts [String] :order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.  (default to 'desc')
    # @option opts [String] :after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
    # @option opts [String] :before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
    # @return [ListAssistantsResponse]
    def list_assistants(opts = {})
      data, _status_code, _headers = list_assistants_with_http_info(opts)
      data
    end

    # Returns a list of assistants.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (default to 20)
    # @option opts [String] :order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.  (default to 'desc')
    # @option opts [String] :after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
    # @option opts [String] :before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
    # @return [Array<(ListAssistantsResponse, Integer, Hash)>] ListAssistantsResponse data, response status code and response headers
    def list_assistants_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.list_assistants ...'
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/assistants'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAssistantsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.list_assistants",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#list_assistants\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a list of message files.
    # @param thread_id [String] The ID of the thread that the message and files belong to.
    # @param message_id [String] The ID of the message that the files belongs to.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (default to 20)
    # @option opts [String] :order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.  (default to 'desc')
    # @option opts [String] :after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
    # @option opts [String] :before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
    # @return [ListMessageFilesResponse]
    def list_message_files(thread_id, message_id, opts = {})
      data, _status_code, _headers = list_message_files_with_http_info(thread_id, message_id, opts)
      data
    end

    # Returns a list of message files.
    # @param thread_id [String] The ID of the thread that the message and files belong to.
    # @param message_id [String] The ID of the message that the files belongs to.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (default to 20)
    # @option opts [String] :order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.  (default to 'desc')
    # @option opts [String] :after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
    # @option opts [String] :before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
    # @return [Array<(ListMessageFilesResponse, Integer, Hash)>] ListMessageFilesResponse data, response status code and response headers
    def list_message_files_with_http_info(thread_id, message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.list_message_files ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.list_message_files"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling AssistantsApi.list_message_files"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/threads/{thread_id}/messages/{message_id}/files'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s)).sub('{' + 'message_id' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMessageFilesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.list_message_files",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#list_message_files\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a list of messages for a given thread.
    # @param thread_id [String] The ID of the [thread](/docs/api-reference/threads) the messages belong to.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (default to 20)
    # @option opts [String] :order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.  (default to 'desc')
    # @option opts [String] :after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
    # @option opts [String] :before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
    # @return [ListMessagesResponse]
    def list_messages(thread_id, opts = {})
      data, _status_code, _headers = list_messages_with_http_info(thread_id, opts)
      data
    end

    # Returns a list of messages for a given thread.
    # @param thread_id [String] The ID of the [thread](/docs/api-reference/threads) the messages belong to.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (default to 20)
    # @option opts [String] :order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.  (default to 'desc')
    # @option opts [String] :after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
    # @option opts [String] :before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
    # @return [Array<(ListMessagesResponse, Integer, Hash)>] ListMessagesResponse data, response status code and response headers
    def list_messages_with_http_info(thread_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.list_messages ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.list_messages"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/threads/{thread_id}/messages'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMessagesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.list_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#list_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a list of run steps belonging to a run.
    # @param thread_id [String] The ID of the thread the run and run steps belong to.
    # @param run_id [String] The ID of the run the run steps belong to.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (default to 20)
    # @option opts [String] :order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.  (default to 'desc')
    # @option opts [String] :after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
    # @option opts [String] :before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
    # @return [ListRunStepsResponse]
    def list_run_steps(thread_id, run_id, opts = {})
      data, _status_code, _headers = list_run_steps_with_http_info(thread_id, run_id, opts)
      data
    end

    # Returns a list of run steps belonging to a run.
    # @param thread_id [String] The ID of the thread the run and run steps belong to.
    # @param run_id [String] The ID of the run the run steps belong to.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (default to 20)
    # @option opts [String] :order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.  (default to 'desc')
    # @option opts [String] :after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
    # @option opts [String] :before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
    # @return [Array<(ListRunStepsResponse, Integer, Hash)>] ListRunStepsResponse data, response status code and response headers
    def list_run_steps_with_http_info(thread_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.list_run_steps ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.list_run_steps"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AssistantsApi.list_run_steps"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/threads/{thread_id}/runs/{run_id}/steps'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s)).sub('{' + 'run_id' + '}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListRunStepsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.list_run_steps",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#list_run_steps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a list of runs belonging to a thread.
    # @param thread_id [String] The ID of the thread the run belongs to.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (default to 20)
    # @option opts [String] :order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.  (default to 'desc')
    # @option opts [String] :after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
    # @option opts [String] :before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
    # @return [ListRunsResponse]
    def list_runs(thread_id, opts = {})
      data, _status_code, _headers = list_runs_with_http_info(thread_id, opts)
      data
    end

    # Returns a list of runs belonging to a thread.
    # @param thread_id [String] The ID of the thread the run belongs to.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 20.  (default to 20)
    # @option opts [String] :order Sort order by the &#x60;created_at&#x60; timestamp of the objects. &#x60;asc&#x60; for ascending order and &#x60;desc&#x60; for descending order.  (default to 'desc')
    # @option opts [String] :after A cursor for use in pagination. &#x60;after&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include after&#x3D;obj_foo in order to fetch the next page of the list. 
    # @option opts [String] :before A cursor for use in pagination. &#x60;before&#x60; is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include before&#x3D;obj_foo in order to fetch the previous page of the list. 
    # @return [Array<(ListRunsResponse, Integer, Hash)>] ListRunsResponse data, response status code and response headers
    def list_runs_with_http_info(thread_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.list_runs ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.list_runs"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/threads/{thread_id}/runs'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListRunsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.list_runs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#list_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Modifies a message.
    # @param thread_id [String] The ID of the thread to which this message belongs.
    # @param message_id [String] The ID of the message to modify.
    # @param modify_message_request [ModifyMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MessageObject]
    def modify_message(thread_id, message_id, modify_message_request, opts = {})
      data, _status_code, _headers = modify_message_with_http_info(thread_id, message_id, modify_message_request, opts)
      data
    end

    # Modifies a message.
    # @param thread_id [String] The ID of the thread to which this message belongs.
    # @param message_id [String] The ID of the message to modify.
    # @param modify_message_request [ModifyMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageObject, Integer, Hash)>] MessageObject data, response status code and response headers
    def modify_message_with_http_info(thread_id, message_id, modify_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.modify_message ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.modify_message"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling AssistantsApi.modify_message"
      end
      # verify the required parameter 'modify_message_request' is set
      if @api_client.config.client_side_validation && modify_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'modify_message_request' when calling AssistantsApi.modify_message"
      end
      # resource path
      local_var_path = '/threads/{thread_id}/messages/{message_id}'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s)).sub('{' + 'message_id' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(modify_message_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.modify_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#modify_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Modifies a run.
    # @param thread_id [String] The ID of the [thread](/docs/api-reference/threads) that was run.
    # @param run_id [String] The ID of the run to modify.
    # @param modify_run_request [ModifyRunRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RunObject]
    def modify_run(thread_id, run_id, modify_run_request, opts = {})
      data, _status_code, _headers = modify_run_with_http_info(thread_id, run_id, modify_run_request, opts)
      data
    end

    # Modifies a run.
    # @param thread_id [String] The ID of the [thread](/docs/api-reference/threads) that was run.
    # @param run_id [String] The ID of the run to modify.
    # @param modify_run_request [ModifyRunRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunObject, Integer, Hash)>] RunObject data, response status code and response headers
    def modify_run_with_http_info(thread_id, run_id, modify_run_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.modify_run ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.modify_run"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AssistantsApi.modify_run"
      end
      # verify the required parameter 'modify_run_request' is set
      if @api_client.config.client_side_validation && modify_run_request.nil?
        fail ArgumentError, "Missing the required parameter 'modify_run_request' when calling AssistantsApi.modify_run"
      end
      # resource path
      local_var_path = '/threads/{thread_id}/runs/{run_id}'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s)).sub('{' + 'run_id' + '}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(modify_run_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RunObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.modify_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#modify_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Modifies a thread.
    # @param thread_id [String] The ID of the thread to modify. Only the &#x60;metadata&#x60; can be modified.
    # @param modify_thread_request [ModifyThreadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ThreadObject]
    def modify_thread(thread_id, modify_thread_request, opts = {})
      data, _status_code, _headers = modify_thread_with_http_info(thread_id, modify_thread_request, opts)
      data
    end

    # Modifies a thread.
    # @param thread_id [String] The ID of the thread to modify. Only the &#x60;metadata&#x60; can be modified.
    # @param modify_thread_request [ModifyThreadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ThreadObject, Integer, Hash)>] ThreadObject data, response status code and response headers
    def modify_thread_with_http_info(thread_id, modify_thread_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.modify_thread ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.modify_thread"
      end
      # verify the required parameter 'modify_thread_request' is set
      if @api_client.config.client_side_validation && modify_thread_request.nil?
        fail ArgumentError, "Missing the required parameter 'modify_thread_request' when calling AssistantsApi.modify_thread"
      end
      # resource path
      local_var_path = '/threads/{thread_id}'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(modify_thread_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ThreadObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.modify_thread",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#modify_thread\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # When a run has the `status: \"requires_action\"` and `required_action.type` is `submit_tool_outputs`, this endpoint can be used to submit the outputs from the tool calls once they're all completed. All outputs must be submitted in a single request. 
    # @param thread_id [String] The ID of the [thread](/docs/api-reference/threads) to which this run belongs.
    # @param run_id [String] The ID of the run that requires the tool output submission.
    # @param submit_tool_outputs_run_request [SubmitToolOutputsRunRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RunObject]
    def submit_tool_ouputs_to_run(thread_id, run_id, submit_tool_outputs_run_request, opts = {})
      data, _status_code, _headers = submit_tool_ouputs_to_run_with_http_info(thread_id, run_id, submit_tool_outputs_run_request, opts)
      data
    end

    # When a run has the &#x60;status: \&quot;requires_action\&quot;&#x60; and &#x60;required_action.type&#x60; is &#x60;submit_tool_outputs&#x60;, this endpoint can be used to submit the outputs from the tool calls once they&#39;re all completed. All outputs must be submitted in a single request. 
    # @param thread_id [String] The ID of the [thread](/docs/api-reference/threads) to which this run belongs.
    # @param run_id [String] The ID of the run that requires the tool output submission.
    # @param submit_tool_outputs_run_request [SubmitToolOutputsRunRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RunObject, Integer, Hash)>] RunObject data, response status code and response headers
    def submit_tool_ouputs_to_run_with_http_info(thread_id, run_id, submit_tool_outputs_run_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssistantsApi.submit_tool_ouputs_to_run ...'
      end
      # verify the required parameter 'thread_id' is set
      if @api_client.config.client_side_validation && thread_id.nil?
        fail ArgumentError, "Missing the required parameter 'thread_id' when calling AssistantsApi.submit_tool_ouputs_to_run"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AssistantsApi.submit_tool_ouputs_to_run"
      end
      # verify the required parameter 'submit_tool_outputs_run_request' is set
      if @api_client.config.client_side_validation && submit_tool_outputs_run_request.nil?
        fail ArgumentError, "Missing the required parameter 'submit_tool_outputs_run_request' when calling AssistantsApi.submit_tool_ouputs_to_run"
      end
      # resource path
      local_var_path = '/threads/{thread_id}/runs/{run_id}/submit_tool_outputs'.sub('{' + 'thread_id' + '}', CGI.escape(thread_id.to_s)).sub('{' + 'run_id' + '}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(submit_tool_outputs_run_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RunObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssistantsApi.submit_tool_ouputs_to_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssistantsApi#submit_tool_ouputs_to_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
